###Names and Paths###
###Ear####
appName=registro-app
appEarPath=/home/xtecuan/Work/siaarafia/registro-app/

###Model####
appModelName=registro-modelo
appModelPath=/home/xtecuan/Work/siaarafia/registro-modelo/
appModelPackage=sv.edu.ues.siaarafia.modelo
appModelPentities=entidades
appModelPservices=servicios
appModelPservicesimpl=servicios.impl
appModelSpringfilename=applicationContext-services.xml

###Web#####
appWebName=registro-web
appWebPath=/home/xtecuan/Work/siaarafia/registro-web/
appWebPackage=sv.edu.ues.siaarafia.controlador.beans1
appWebPagesPath=web/
appWebPagesGenerated=web/app/mantenimientos1/
appWebSpringfilename=applicationContext-backingbeans.xml
appWebBaseBean=sv.edu.ues.siaarafia.controlador.XBaseBean
appWebViewUtils=sv.edu.ues.siaarafia.controlador.utils.ViewUtils

###Connection Settings##############
activeConnection=postgresql

postgresqlUser=xtecuan
postgresqlPass=x2tecuan
postgresqlUrl=jdbc:postgresql://localhost:5432/siaarafia

mysqlUser=xtecuan
mysqlPass=x2tecuan
mysqlUrl=jdbc:mysql://localhost:3306/dbcosmodas

###Template Settings###
templatesPath=/home/xtecuan/Work/xtecuannet-framework/xtecuannet-framework-console-utils/src/com/xtesoft/xtecuannet/framework/console/utils/templates/
basicTemplate=/templates/reg_template_simple.xhtml